/* Style sheet */
body {
    background-color: rgb(240, 240, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
    text-align: center;
}

#content-wrap {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 4vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vh;
    color: rgb(40, 40, 40);
}

#guess {
    font-size: x-large;
}

.hide-it {
    visibility: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.textbox {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    margin: 5px;
}

.button-std {
    padding: 5px;
    border-radius: 5px;
}

.disp-fail {
    font-size: small; 
    color: red;
}

.disp-success {
    font-size: medium;
    color: black;
}